*, *::before, *::after {
  box-sizing: border-box;
}

  
body {
	background-color: #ffeb3b;
	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5em;
}
.content {
	display: flex;
	flex-direction: column;
}
.selected {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
.selected select {
	min-width: 160px;
	padding: 0.7em;
	margin: 1em;
	border: 1px solid #acaf0c;
	outline-color: #452b4e;
	border-radius: 0.5em;
	cursor: pointer;
}

.imput_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.imput_value {
	width: 160px;
	padding: 0.7em;
	margin: 1em;
	border: 3px solid #03a9f4;
	outline-color: #4e432b;
	border-radius: 0.5em;
	cursor: pointer;
}

.converted_value {
	margin: 1em;
	font-weight: bold;
	font-size: 1.5em;
	color: #452b4e;
}

.conversion_precision {
	font-weight: bold;
	font-size: .9em;
	color: #f44336;
}

.message_alert {
	position: relative;
    display: flex;
    flex-direction: column;
	width: 330px;
    height: 50px;
    border: 2px solid #452b4e;
    border-radius: 5px;
    color: rgb(255 255 255 / 65%);
    padding: 10px;
    text-align: center;
    font-size: 1em;
    background: #f44336;
    font-family: monospace;
}

.btn_close {
	position: absolute;
	border-radius: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0px;
    background: #f44336;
    transform: translate(310px, 30px);
    color: #452b4e;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid #452b4e;
}


@media (max-width: 550px) {
	.imput_container {
		flex-direction: column
	}
}